@font-face {
  font-family: "Font1";
  src: url(./assets/fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "Font2";
  src: url(./assets/fonts/Montserrat-Thin.ttf);
}

* {
  list-style-type: none;
}

body {
  font-family: "Font1", serif;
  margin: 0;
  padding: 0;
}

nav ul {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  text-transform: uppercase;
  font-weight: bold;
}

ul :nth-child(8n) {
  margin-top: -10px;
  background: rgba(151, 147, 147, 0.575);
  border: 10px solid rgba(151, 147, 147, 0.11);
  border-radius: 23px;
}

.main-header {
  position: relative;
  display: block;
  height: 550px;
  background-image: url(./assets/img/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}

#logo img {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  margin-top: 15px;
}

.main-header h1 {
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 1.3rem;
}

.main-header button {
  position: absolute;
  top: 83%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  height: 50px;
  background-color: rgba(165, 42, 42, 0);
  color: white;
  font-family: "font1";
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  padding: 15px;
  cursor: pointer;
}

/* Gestion des liens du header:  */

.main-header button a:link {
  text-decoration: none;
  color: white;
}
.main-header button a:visited {
  text-decoration: none;
  color: white;
}

/* Fin gestion de liens header */

.header-text {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 35px;
}

.icon-part-container {
  background-color: black;
  display: flex;
  color: white;
  height: 500px;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.icon-part-container h3 {
  text-transform: uppercase;
}

.icon-part-container p {
  width: 320px;
  word-spacing: 3px;
}

.icon-part-container button {
  border: 1px solid white;
  margin-top: 20px;
  height: 40px;
  background-color: rgba(165, 42, 42, 0);
  color: white;
  font-family: "font1";
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}

/* ************* HEADER NEWS STYLE ************* */

.news-part {
  background-color: rgba(211, 211, 211, 0.356);
  height: 800px;
  padding-top: 60px;
}

.header-news {
  display: grid;
  grid-template-columns: 60% 32%;
  grid-template-areas: "lesnews newsbutton";
  /* text-align: center; */
}

/* ********** GRID *********** */
.header-news left-part {
  grid-area: "lesnews";
}

.header-news right-part {
  grid-area: "newsbutton";
}
/* ********** FIN DU GRID *********** */
.left-part {
  margin-left: 242px;
}

.left-part h2 {
  text-transform: uppercase;
  font-weight: lighter;
  word-spacing: 2px;
}

.left-part p {
  font-weight: bold;
  line-height: 0px;
}

.right-part {
  margin: 0 auto;
  margin-top: 16px;
}

.right-part button {
  border: 1px solid black;
  margin-top: 20px;
  height: 40px;
  background-color: rgba(165, 42, 42, 0);
  color: black;
  font-family: "font1";
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}

/* ************ MAINS NEW STYLE ************* */

.main-news {
  margin-top: 60px;
}

.main-news-container {
  display: flex;
  justify-content: space-evenly;
}

.main-news img {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.664);
}

.main-news-container h4 {
  font-weight: bold;
  font-size: 1.1rem;
  width: 300px;
}

.main-news-container p {
  width: 270px;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 20px;
}

.main-news link {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  text-align: center;
}

.main-news a:link {
  color: purple;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 0.8rem;
  text-decoration: none;
}

.contact {
  margin-top: 60px;
}

.contact-list {
  display: flex;
  justify-content: space-evenly;
  margin-left: 7%;
}

.contact-list .list {
  width: 300px;
}

.contact-list a:link {
  text-decoration: none;
  color: purple;
  font-weight: bold;
  line-height: 35px;
  font-size: 0.9rem;
}

.contact h5 {
  text-transform: uppercase;
  font-size: 1.1rem;
  margin: 0;
  margin-bottom: 20px;
}

.list h6 {
  font-size: 0.9rem;
  margin: 0;
  line-height: 30px;
}

.infos-p {
  padding: 0;
}
.network {
  line-height: 40px;
}
.footer-logos {
  letter-spacing: 5px;
}

.contact-medias {
  position: relative;
  margin-top: 120px;
}

#line {
  width: 70%;
  height: 1px;
  position: absolute;
  background-color: #e2ddde;
  bottom: 150px;
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%);
}

.contact-medias {
  display: flex;
}

.medias-text {
  width: 20%;
  margin: 0 auto;
  justify-content: center;
  text-align: left;
  margin-right: 50px;
}

.medias-logos {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 21px;
  margin-right: 250px;
}

.medias-text h3 {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.medias-text p {
  font-weight: bold;
}

footer {
  background-color: rgb(31, 30, 30);
  color: white;
  padding: 10px;
  margin-top: 50px;
}

footer h3 {
  display: flex;
  font-family: "font2";
  font-weight: bold;
  text-transform: uppercase;
  justify-content: center;
  text-align: center;
}

footer ul {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  align-items: center;
  margin: 0 auto;
}
